In [79]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from subprocess import check_output

# Pipeline at a glance:
load data -> cleaning/preprocessing -> feature eng -> format data for modelling -> fit model -> evaluate model -> generate submission file

## Step 1: Load data

In [80]:
df_train = pd.read_csv('../input/train.csv')
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [81]:
df_train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [82]:
df_test = pd.read_csv('../input/test.csv')
df_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [83]:
df_test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [84]:
df_train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

## Step 2: Basic cleaning and preprocessing

In [85]:
# label encode sex
le = LabelEncoder()
le.fit(df_train.Sex)
df_train.loc[:,'Sex'] = le.transform(df_train.Sex)
df_test.loc[:,'Sex'] = le.transform(df_test.Sex)

In [86]:
values = {"Embarked":"S"}
df_train.fillna(value=values, inplace=True)
df_train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [87]:
# Fill in the missing values
mAge = pd.concat((df_train.Age, df_test.Age), axis=0).mean()
df_train.loc[:, 'Age'] = df_train.Age.fillna(mAge)
df_test.loc[:, 'Age'] = df_test.Age.fillna(mAge)

## Step 3: Feature engineering

In [88]:
df_train['age_binned'] = pd.cut(df_train['Age'], [0, 16, 32, 48, 64, 200], labels=[0,1,2,3,4], retbins=False)
df_train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,age_binned
0,1,0,3,"Braund, Mr. Owen Harris",1,22.000000,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.000000,1,0,PC 17599,71.2833,C85,C,2
2,3,1,3,"Heikkinen, Miss. Laina",0,26.000000,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.000000,1,0,113803,53.1000,C123,S,2
4,5,0,3,"Allen, Mr. William Henry",1,35.000000,0,0,373450,8.0500,NaN,S,2
5,6,0,3,"Moran, Mr. James",1,29.881138,0,0,330877,8.4583,NaN,Q,1
6,7,0,1,"McCarthy, Mr. Timothy J",1,54.000000,0,0,17463,51.8625,E46,S,3
7,8,0,3,"Palsson, Master. Gosta Leonard",1,2.000000,3,1,349909,21.0750,NaN,S,0
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",0,27.000000,0,2,347742,11.1333,NaN,S,1
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",0,14.000000,1,0,237736,30.0708,NaN,C,0
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",0,4.000000,1,1,PP 9549,16.7000,G6,S,0
11,12,1,1,"Bonnell, Miss. Elizabeth",0,58.000000,0,0,113783,26.5500,C103,S,3
12,13,0,3,"Saundercock, Mr. William Henry",1,20.000000,0,0,A/5. 2151,8.0500,NaN,S,1
13,14,0,3,"Andersson, Mr. Anders Johan",1,39.000000,1,5,347082,31.2750,NaN,S,2
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",0,14.000000,0,0,350406,7.8542,NaN,S,0
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",0,55.000000,0,0,248706,16.0000,NaN,S,3
16,17,0,3,"Rice, Master. Eugene",1,2.000000,4,1,382652,29.1250,NaN,Q,0
17,18,1,2,"Williams, Mr. Charles Eugene",1,29.881138,0,0,244373,13.0000,NaN,S,1
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,31.000000,1,0,345763,18.0000,NaN,S,1
19,20,1,3,"Masselmani, Mrs. Fatima",0,29.881138,0,0,2649,7.2250,NaN,C,1
20,21,0,2,"Fynney, Mr. Joseph J",1,35.000000,0,0,239865,26.0000,NaN,S,2
21,22,1,2,"Beesley, Mr. Lawrence",1,34.000000,0,0,248698,13.0000,D56,S,2
22,23,1,3,"McGowan, Miss. Anna ""Annie""",0,15.000000,0,0,330923,8.0292,NaN,Q,0
23,24,1,1,"Sloper, Mr. William Thompson",1,28.000000,0,0,113788,35.5000,A6,S,1
24,25,0,3,"Palsson, Miss. Torborg Danira",0,8.000000,3,1,349909,21.0750,NaN,S,0
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",0,38.000000,1,5,347077,31.3875,NaN,S,2
26,27,0,3,"Emir, Mr. Farred Chehab",1,29.881138,0,0,2631,7.2250,NaN,C,1
27,28,0,1,"Fortune, Mr. Charles Alexander",1,19.000000,3,2,19950,263.0000,C23 C25 C27,S,1
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",0,29.881138,0,0,330959,7.8792,NaN,Q,1
29,30,0,3,"Todoroff, Mr. Lalio",1,29.881138,0,0,349216,7.8958,NaN,S,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",1,21.000000,1,0,28134,11.5000,NaN,S,1
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",0,48.000000,0,0,17466,25.9292,D17,S,2
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",0,29.881138,8,2,CA. 2343,69.5500,NaN,S,1
864,865,0,2,"Gill, Mr. John William",1,24.000000,0,0,233866,13.0000,NaN,S,1
865,866,1,2,"Bystrom, Mrs. (Karolina)",0,42.000000,0,0,236852,13.0000,NaN,S,2
866,867,1,2,"Duran y More, Miss. Asuncion",0,27.000000,1,0,SC/PARIS 2149,13.8583,NaN,C,1
867,868,0,1,"Roebling, Mr. Washington Augustus II",1,31.000000,0,0,PC 17590,50.4958,A24,S,1
868,869,0,3,"van Melkebeke, Mr. Philemon",1,29.881138,0,0,345777,9.5000,NaN,S,1
869,870,1,3,"Johnson, Master. Harold Theodor",1,4.000000,1,1,347742,11.1333,NaN,S,0
870,871,0,3,"Balkic, Mr. Cerin",1,26.000000,0,0,349248,7.8958,NaN,S,1
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",0,47.000000,1,1,11751,52.5542,D35,S,2
872,873,0,1,"Carlsson, Mr. Frans Olof",1,33.000000,0,0,695,5.0000,B51 B53 B55,S,2
873,874,0,3,"Vander Cruyssen, Mr. Victor",1,47.000000,0,0,345765,9.0000,NaN,S,2
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",0,28.000000,1,0,P/PP 3381,24.0000,NaN,C,1
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",0,15.000000,0,0,2667,7.2250,NaN,C,0
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",1,20.000000,0,0,7534,9.8458,NaN,S,1
877,878,0,3,"Petroff, Mr. Nedelio",1,19.000000,0,0,349212,7.8958,NaN,S,1
878,879,0,3,"Laleff, Mr. Kristo",1,29.881138,0,0,349217,7.8958,NaN,S,1
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",0,56.000000,0,1,11767,83.1583,C50,C,3
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",0,25.000000,0,1,230433,26.0000,NaN,S,1
881,882,0,3,"Markun, Mr. Johann",1,33.000000,0,0,349257,7.8958,NaN,S,2
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",0,22.000000,0,0,7552,10.5167,NaN,S,1
883,884,0,2,"Banfield, Mr. Frederick James",1,28.000000,0,0,C.A./SOTON 34068,10.5000,NaN,S,1
884,885,0,3,"Sutehall, Mr. Henry Jr",1,25.000000,0,0,SOTON/OQ 392076,7.0500,NaN,S,1
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",0,39.000000,0,5,382652,29.1250,NaN,Q,2
886,887,0,2,"Montvila, Rev. Juozas",1,27.000000,0,0,211536,13.0000,NaN,S,1
887,888,1,1,"Graham, Miss. Margaret Edith",0,19.000000,0,0,112053,30.0000,B42,S,1
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",0,29.881138,1,2,W./C. 6607,23.4500,NaN,S,1
889,890,1,1,"Behr, Mr. Karl Howell",1,26.000000,0,0,111369,30.0000,C148,C,1
890,891,0,3,"Dooley, Mr. Patrick",1,32.000000,0,0,370376,7.7500,NaN,Q,1

In [89]:
family_size = df_train['SibSp'] + df_train['Parch']
df_train['family_size'] = pd.Series(data=family_size)

In [90]:
is_alone = (df_train['family_size']) < 1
df_train['is_alone'] = pd.Series(data=is_alone)
df_train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,age_binned,family_size,is_alone
0,1,0,3,"Braund, Mr. Owen Harris",1,22.000000,1,0,A/5 21171,7.2500,NaN,S,1,1,False
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.000000,1,0,PC 17599,71.2833,C85,C,2,1,False
2,3,1,3,"Heikkinen, Miss. Laina",0,26.000000,0,0,STON/O2. 3101282,7.9250,NaN,S,1,0,True
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.000000,1,0,113803,53.1000,C123,S,2,1,False
4,5,0,3,"Allen, Mr. William Henry",1,35.000000,0,0,373450,8.0500,NaN,S,2,0,True
5,6,0,3,"Moran, Mr. James",1,29.881138,0,0,330877,8.4583,NaN,Q,1,0,True
6,7,0,1,"McCarthy, Mr. Timothy J",1,54.000000,0,0,17463,51.8625,E46,S,3,0,True
7,8,0,3,"Palsson, Master. Gosta Leonard",1,2.000000,3,1,349909,21.0750,NaN,S,0,4,False
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",0,27.000000,0,2,347742,11.1333,NaN,S,1,2,False
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",0,14.000000,1,0,237736,30.0708,NaN,C,0,1,False
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",0,4.000000,1,1,PP 9549,16.7000,G6,S,0,2,False
11,12,1,1,"Bonnell, Miss. Elizabeth",0,58.000000,0,0,113783,26.5500,C103,S,3,0,True
12,13,0,3,"Saundercock, Mr. William Henry",1,20.000000,0,0,A/5. 2151,8.0500,NaN,S,1,0,True
13,14,0,3,"Andersson, Mr. Anders Johan",1,39.000000,1,5,347082,31.2750,NaN,S,2,6,False
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",0,14.000000,0,0,350406,7.8542,NaN,S,0,0,True
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",0,55.000000,0,0,248706,16.0000,NaN,S,3,0,True
16,17,0,3,"Rice, Master. Eugene",1,2.000000,4,1,382652,29.1250,NaN,Q,0,5,False
17,18,1,2,"Williams, Mr. Charles Eugene",1,29.881138,0,0,244373,13.0000,NaN,S,1,0,True
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,31.000000,1,0,345763,18.0000,NaN,S,1,1,False
19,20,1,3,"Masselmani, Mrs. Fatima",0,29.881138,0,0,2649,7.2250,NaN,C,1,0,True
20,21,0,2,"Fynney, Mr. Joseph J",1,35.000000,0,0,239865,26.0000,NaN,S,2,0,True
21,22,1,2,"Beesley, Mr. Lawrence",1,34.000000,0,0,248698,13.0000,D56,S,2,0,True
22,23,1,3,"McGowan, Miss. Anna ""Annie""",0,15.000000,0,0,330923,8.0292,NaN,Q,0,0,True
23,24,1,1,"Sloper, Mr. William Thompson",1,28.000000,0,0,113788,35.5000,A6,S,1,0,True
24,25,0,3,"Palsson, Miss. Torborg Danira",0,8.000000,3,1,349909,21.0750,NaN,S,0,4,False
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",0,38.000000,1,5,347077,31.3875,NaN,S,2,6,False
26,27,0,3,"Emir, Mr. Farred Chehab",1,29.881138,0,0,2631,7.2250,NaN,C,1,0,True
27,28,0,1,"Fortune, Mr. Charles Alexander",1,19.000000,3,2,19950,263.0000,C23 C25 C27,S,1,5,False
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",0,29.881138,0,0,330959,7.8792,NaN,Q,1,0,True
29,30,0,3,"Todoroff, Mr. Lalio",1,29.881138,0,0,349216,7.8958,NaN,S,1,0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",1,21.000000,1,0,28134,11.5000,NaN,S,1,1,False
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",0,48.000000,0,0,17466,25.9292,D17,S,2,0,True
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",0,29.881138,8,2,CA. 2343,69.5500,NaN,S,1,10,False
864,865,0,2,"Gill, Mr. John William",1,24.000000,0,0,233866,13.0000,NaN,S,1,0,True
865,866,1,2,"Bystrom, Mrs. (Karolina)",0,42.000000,0,0,236852,13.0000,NaN,S,2,0,True
866,867,1,2,"Duran y More, Miss. Asuncion",0,27.000000,1,0,SC/PARIS 2149,13.8583,NaN,C,1,1,False
867,868,0,1,"Roebling, Mr. Washington Augustus II",1,31.000000,0,0,PC 17590,50.4958,A24,S,1,0,True
868,869,0,3,"van Melkebeke, Mr. Philemon",1,29.881138,0,0,345777,9.5000,NaN,S,1,0,True
869,870,1,3,"Johnson, Master. Harold Theodor",1,4.000000,1,1,347742,11.1333,NaN,S,0,2,False
870,871,0,3,"Balkic, Mr. Cerin",1,26.000000,0,0,349248,7.8958,NaN,S,1,0,True
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",0,47.000000,1,1,11751,52.5542,D35,S,2,2,False
872,873,0,1,"Carlsson, Mr. Frans Olof",1,33.000000,0,0,695,5.0000,B51 B53 B55,S,2,0,True
873,874,0,3,"Vander Cruyssen, Mr. Victor",1,47.000000,0,0,345765,9.0000,NaN,S,2,0,True
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",0,28.000000,1,0,P/PP 3381,24.0000,NaN,C,1,1,False
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",0,15.000000,0,0,2667,7.2250,NaN,C,0,0,True
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",1,20.000000,0,0,7534,9.8458,NaN,S,1,0,True
877,878,0,3,"Petroff, Mr. Nedelio",1,19.000000,0,0,349212,7.8958,NaN,S,1,0,True
878,879,0,3,"Laleff, Mr. Kristo",1,29.881138,0,0,349217,7.8958,NaN,S,1,0,True
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",0,56.000000,0,1,11767,83.1583,C50,C,3,1,False
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",0,25.000000,0,1,230433,26.0000,NaN,S,1,1,False
881,882,0,3,"Markun, Mr. Johann",1,33.000000,0,0,349257,7.8958,NaN,S,2,0,True
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",0,22.000000,0,0,7552,10.5167,NaN,S,1,0,True
883,884,0,2,"Banfield, Mr. Frederick James",1,28.000000,0,0,C.A./SOTON 34068,10.5000,NaN,S,1,0,True
884,885,0,3,"Sutehall, Mr. Henry Jr",1,25.000000,0,0,SOTON/OQ 392076,7.0500,NaN,S,1,0,True
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",0,39.000000,0,5,382652,29.1250,NaN,Q,2,5,False
886,887,0,2,"Montvila, Rev. Juozas",1,27.000000,0,0,211536,13.0000,NaN,S,1,0,True
887,888,1,1,"Graham, Miss. Margaret Edith",0,19.000000,0,0,112053,30.0000,B42,S,1,0,True
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",0,29.881138,1,2,W./C. 6607,23.4500,NaN,S,1,3,False
889,890,1,1,"Behr, Mr. Karl Howell",1,26.000000,0,0,111369,30.0000,C148,C,1,0,True
890,891,0,3,"Dooley, Mr. Patrick",1,32.000000,0,0,370376,7.7500,NaN,Q,1,0,True

In [91]:
# label encode is_alone
enc = OneHotEncoder()
code = [['S', 0], ['C', 1], ['Q', 2]]
enc.fit(code)

ValueError: could not convert string to float: 'S'

## Step 4: Format data for modelling

In [44]:
# Split data into X and y, and select features to use
X = df_train.loc[:,['Age', 'Sex', 'Pclass']]
y = df_train.loc[:,'Survived']

In [45]:
# Split data X and y into train and val sets
X_test = df_test.loc[:,['Age', 'Sex', 'Pclass']]
X_train, X_valid, y_train, y_valid = train_test_split(
      X, y, test_size=0.2, random_state=42)

## Step 5: Train (or fit) the model

In [46]:
# Fit logistic regression
LR = LogisticRegression()
LR.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

## Step 6: Evaluate the model

In [47]:
# define a scoring function
def acc(y: np.array, y_pred: np.array) -> float:
    return np.sum(y_pred==y)/len(y)

In [48]:
# Use model to predict validation set
y_pred_valid = LR.predict(X_valid)

In [49]:
print('Validation set accuracy', acc(y_valid, y_pred_valid), '%')

Validation set accuracy 0.7877094972067039 %

## Step 7: Generate Submission

In [50]:
# Predict for test set

y_pred_test = LR.predict(X_test)

# Create a Kaggle submission
sub = pd.DataFrame({'PassengerId': df_test['PassengerId'],
                    'Survived': y_pred_test})

sub.to_csv('basic_submission.csv', index=False)