In [15]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

# Pipeline at a glance:
load data -> cleaning/preprocessing -> feature eng -> format data for modelling -> fit model -> evaluate model -> generate submission file

## Step 1: Load data

In [16]:
df_train = pd.read_csv('../input/train.csv')
df_test = pd.read_csv('../input/test.csv')

# for convenience
datasets = [df_train, df_test]

## Step 2: Basic cleaning and preprocessing

In [17]:
# Fill in missing values
#mAge = pd.concat((df_train['Age'], df_test['Age']), axis=0).mean()
medFare = pd.concat((df_train['Fare'], df_test['Fare']), axis=0).median()
for df in datasets:
    #df['Age'] = df['Age'].fillna(mAge)
    df['Fare'] = df['Fare'].fillna(medFare)
    df['Embarked'] = df['Embarked'].fillna('S')

## Step 3: Feature engineering

In [18]:
# Functions that returns the title from a name. All the name in the dataset has the format "Surname, Title. Name"
def get_title(name):
    if '.' in name:
        return name.split(',')[1].split('.')[0].strip()
    else:
        return 'Unknown'
    
train_titles = []
test_titles = []

for name in df_train['Name']:
    title = get_title(name)
    train_titles.append(title)
    
for name in df_test['Name']:
    title = get_title(name)
    test_titles.append(title)


df_train['Title'] = train_titles
df_test['Title'] = test_titles
     
df_train.loc[(df_train['Title'] != 'Mr') & (df_train['Title'] != 'Mrs') & (df_train['Title'] != 'Miss') & (df_train['Title'] != 'Master'), 'Title'] = 'Misc'
df_test.loc[(df_test['Title'] != 'Mr') & (df_test['Title'] != 'Mrs') & (df_test['Title'] != 'Miss') & (df_test['Title'] != 'Master'), 'Title'] = 'Misc'

# See value counts of each title
pd.value_counts(df_train['Title'])

Mr        517
Miss      182
Mrs       125
Master     40
Misc       27
Name: Title, dtype: int64

In [19]:
#thing = (pd.concat((df_train, df_test), ignore_index=True)).groupby(['Title']).mean()
#print(thing)

grouped = (pd.concat((df_train, df_test), ignore_index=True)).groupby(['Title'])  

# opted for median value to iron out any weirdness title selection might've given
grouped['Age'].median()

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:4: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  after removing the cwd from sys.path.

Title
Master     4.0
Misc      44.5
Miss      22.0
Mr        29.0
Mrs       35.5
Name: Age, dtype: float64

In [25]:
# Apply these median values to all NaNs in dataset
# this works fine on train but not on test set for some reason.. -John
df_train['Age'] = df_train.groupby(['Title'])
df_test['Age'] = grouped.Age.apply(lambda x: x.fillna(x.median()))
    #df['Embarked'] = df['Embarked'].fillna('S')
df_test

ValueError: Length of values does not match length of index

In [8]:
df_test # why was mr. ylio imputed with an age of 4?

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
0,892,3,"Kelly, Mr. James",male,22.0,0,0,330911,7.8292,NaN,Q,Mr
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,38.0,1,0,363272,7.0000,NaN,S,Mrs
2,894,2,"Myles, Mr. Thomas Francis",male,26.0,0,0,240276,9.6875,NaN,Q,Mr
3,895,3,"Wirz, Mr. Albert",male,35.0,0,0,315154,8.6625,NaN,S,Mr
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,35.0,1,1,3101298,12.2875,NaN,S,Mrs
5,897,3,"Svensson, Mr. Johan Cervin",male,29.0,0,0,7538,9.2250,NaN,S,Mr
6,898,3,"Connolly, Miss. Kate",female,54.0,0,0,330972,7.6292,NaN,Q,Miss
7,899,2,"Caldwell, Mr. Albert Francis",male,2.0,1,1,248738,29.0000,NaN,S,Mr
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,27.0,0,0,2657,7.2292,NaN,C,Mrs
9,901,3,"Davies, Mr. John Samuel",male,14.0,2,0,A/4 48871,24.1500,NaN,S,Mr
10,902,3,"Ilieff, Mr. Ylio",male,4.0,0,0,349220,7.8958,NaN,S,Mr
11,903,1,"Jones, Mr. Charles Cresson",male,58.0,0,0,694,26.0000,NaN,S,Mr
12,904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,20.0,1,0,21228,82.2667,B45,S,Mrs
13,905,2,"Howard, Mr. Benjamin",male,39.0,1,0,24065,26.0000,NaN,S,Mr
14,906,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,14.0,1,0,W.E.P. 5734,61.1750,E31,S,Mrs
15,907,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,55.0,1,0,SC/PARIS 2167,27.7208,NaN,C,Mrs
16,908,2,"Keane, Mr. Daniel",male,2.0,0,0,233734,12.3500,NaN,Q,Mr
17,909,3,"Assaf, Mr. Gerios",male,29.0,0,0,2692,7.2250,NaN,C,Mr
18,910,3,"Ilmakangas, Miss. Ida Livija",female,31.0,1,0,STON/O2. 3101270,7.9250,NaN,S,Miss
19,911,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",female,35.5,0,0,2696,7.2250,NaN,C,Mrs
20,912,1,"Rothschild, Mr. Martin",male,35.0,1,0,PC 17603,59.4000,NaN,C,Mr
21,913,3,"Olsen, Master. Artur Karl",male,34.0,0,1,C 17368,3.1708,NaN,S,Master
22,914,1,"Flegenheim, Mrs. Alfred (Antoinette)",female,15.0,0,0,PC 17598,31.6833,NaN,S,Mrs
23,915,1,"Williams, Mr. Richard Norris II",male,28.0,0,1,PC 17597,61.3792,NaN,C,Mr
24,916,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,8.0,1,3,PC 17608,262.3750,B57 B59 B63 B66,C,Mrs
25,917,3,"Robins, Mr. Alexander A",male,38.0,1,0,A/5. 3337,14.5000,NaN,S,Mr
26,918,1,"Ostby, Miss. Helene Ragnhild",female,29.0,0,1,113509,61.9792,B36,C,Miss
27,919,3,"Daher, Mr. Shedid",male,19.0,0,0,2698,7.2250,NaN,C,Mr
28,920,1,"Brady, Mr. John Bertram",male,22.0,0,0,113054,30.5000,A21,S,Mr
29,921,3,"Samaan, Mr. Elias",male,29.0,2,0,2662,21.6792,NaN,C,Mr
...,...,...,...,...,...,...,...,...,...,...,...,...
388,1280,3,"Canavan, Mr. Patrick",male,29.0,0,0,364858,7.7500,NaN,Q,Mr
389,1281,3,"Palsson, Master. Paul Folke",male,17.0,3,1,349909,21.0750,NaN,S,Master
390,1282,1,"Payne, Mr. Vivian Ponsonby",male,36.0,0,0,12749,93.5000,B24,S,Mr
391,1283,1,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",female,21.0,0,1,PC 17592,39.4000,D28,S,Mrs
392,1284,3,"Abbott, Master. Eugene Joseph",male,28.0,0,2,C.A. 2673,20.2500,NaN,S,Master
393,1285,2,"Gilbert, Mr. William",male,23.0,0,0,C.A. 30769,10.5000,NaN,S,Mr
394,1286,3,"Kink-Heilmann, Mr. Anton",male,24.0,3,1,315153,22.0250,NaN,S,Mr
395,1287,1,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",female,22.0,1,0,13695,60.0000,C31,S,Mrs
396,1288,3,"Colbert, Mr. Patrick",male,31.0,0,0,371109,7.2500,NaN,Q,Mr
397,1289,1,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",female,46.0,1,1,13567,79.2000,B41,C,Mrs
398,1290,3,"Larsson-Rondberg, Mr. Edvard A",male,23.0,0,0,347065,7.7750,NaN,S,Mr
399,1291,3,"Conlon, Mr. Thomas Henry",male,28.0,0,0,21332,7.7333,NaN,Q,Mr
400,1292,1,"Bonnell, Miss. Caroline",female,39.0,0,0,36928,164.8667,C7,S,Miss
401,1293,2,"Gale, Mr. Harry",male,26.0,1,0,28664,21.0000,NaN,S,Mr
402,1294,1,"Gibson, Miss. Dorothy Winifred",female,21.0,0,1,112378,59.4000,NaN,C,Miss
403,1295,1,"Carrau, Mr. Jose Pedro",male,28.0,0,0,113059,47.1000,NaN,S,Mr
404,1296,1,"Frauenthal, Mr. Isaac Gerald",male,20.0,1,0,17765,27.7208,D40,C,Mr
405,1297,2,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",male,34.0,0,0,SC/PARIS 2166,13.8625,D38,C,Mr
406,1298,2,"Ware, Mr. William Jeffery",male,51.0,1,0,28666,10.5000,NaN,S,Mr
407,1299,1,"Widener, Mr. George Dunton",male,3.0,1,1,113503,211.5000,C80,C,Mr
408,1300,3,"Riordan, Miss. Johanna Hannah""""",female,21.0,0,0,334915,7.7208,NaN,Q,Miss
409,1301,3,"Peacock, Miss. Treasteall",female,22.0,1,1,SOTON/O.Q. 3101315,13.7750,NaN,S,Miss
410,1302,3,"Naughton, Miss. Hannah",female,29.0,0,0,365237,7.7500,NaN,Q,Miss
411,1303,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,29.0,1,0,19928,90.0000,C78,Q,Mrs
412,1304,3,"Henriksson, Miss. Jenny Lovisa",female,33.0,0,0,347086,7.7750,NaN,S,Miss
413,1305,3,"Spector, Mr. Woolf",male,29.0,0,0,A.5. 3236,8.0500,NaN,S,Mr
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,44.0,0,0,PC 17758,108.9000,C105,C,Misc
415,1307,3,"Saether, Mr. Simon Sivertsen",male,35.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S,Mr
416,1308,3,"Ware, Mr. Frederick",male,34.0,0,0,359309,8.0500,NaN,S,Mr
417,1309,3,"Peter, Master. Michael J",male,18.0,1,1,2668,22.3583,NaN,C,Master

In [ ]:
# find fare bins based on frequency rather than value
garbage, fare_bins = pd.qcut(df_train['Fare'].append(df_test['Fare']), 4, retbins=True)
# loops through both train and test set for convenience
for df in datasets:
    # bin age
    df['Age_binned'] = pd.cut(df['Age'], [0,16,32,48,64,200], labels = [0,1,2,3,4], retbins=False)
    
    # bin fare
    df['Fare_binned'] = pd.cut(df['Fare'], fare_bins, labels = [0,1,2,3], include_lowest=True, retbins=False)
    
    # family features
    df['Family_size'] = df_train['SibSp'] + df_train['Parch']
    df['Is_Alone'] = (df['Family_size'] == 0).astype(int)

In [ ]:
# drop unneeded rows
for df in datasets:
    df.drop(['Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Name', 'Fare_binned', 'Embarked', 'Is_Alone'], axis=1, inplace=True)
    
# need to keep passengerID for submission
# now dropping embarked and is_alone, since they're probably useless

## Step 4: Format data for modelling

In [ ]:
# label encode sex since binary
le = LabelEncoder()
le.fit(df_train['Sex'])
df_train.loc[:,'Sex'] = le.transform(df_train['Sex'])
df_test.loc[:,'Sex'] = le.transform(df_test['Sex'])

# one hot encode title
df_train = pd.get_dummies(df_train, columns=['Title'])
df_test = pd.get_dummies(df_test, columns=['Title'])

In [ ]:
# Split data into X and y, and select features to use
X = df_train.drop(['Survived', 'PassengerId'], axis=1)
y = df_train['Survived']
X_test = df_test.drop(['PassengerId'], axis=1)

In [ ]:
# Split data X and y into train and val sets
X_train, X_val, y_train, y_val = train_test_split(
      X, y, test_size=0.2, random_state=42)

In [ ]:
X_train

In [ ]:
df_train.isnull().sum()

## Step 5: Train (or fit) the model

In [ ]:
# Fit logistic regression
lr = LogisticRegression()
lr.fit(X_train, y_train)

In [ ]:
# fit rf
rf = RandomForestClassifier(random_state=12)
rf.fit(X_train, y_train)

## Step 6: Evaluate the model

In [ ]:
# define a scoring function
def acc(y: np.array, y_pred: np.array) -> float:
    return np.sum(y_pred==y)/len(y)

In [ ]:
# Use model to predict on train and val sets
y_pred_trn_lr = lr.predict(X_train)
y_pred_val_lr = lr.predict(X_val)

y_pred_trn_rf = rf.predict(X_train)
y_pred_val_rf = rf.predict(X_val)

In [ ]:
print('LR train set accuracy', acc(y_train, y_pred_trn_lr))
print('LR val set accuracy', acc(y_val, y_pred_val_lr))
print('RF train set accuracy', acc(y_train, y_pred_trn_rf))
print('RF val set accuracy', acc(y_val, y_pred_val_rf))

## Step 7: Generate Submission

In [ ]:
# fit on whole dataset
lr.fit(X, y)

# Predict for test set
y_pred_test = lr.predict(X_test)

# Create a Kaggle submission
sub = pd.DataFrame({'PassengerId': df_test['PassengerId'],
                    'Survived': y_pred_test})

sub.to_csv('week_4_baseline.csv', index=False)