In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

# Pipeline at a glance:
load data -> cleaning/preprocessing -> feature eng -> format data for modelling -> fit model -> evaluate model -> generate submission file

## Step 1: Load data

In [2]:
df_train = pd.read_csv('../input/train.csv')
df_test = pd.read_csv('../input/test.csv')

# for convenience
datasets = [df_train, df_test]

## Step 2: Basic cleaning and preprocessing

In [3]:
# Fill in missing values
medFare = pd.concat((df_train['Fare'], df_test['Fare']), axis=0).median()
for df in datasets:
    df['Fare'] = df['Fare'].fillna(medFare)
    df['Embarked'] = df['Embarked'].fillna('S')

## Step 3: Feature engineering

In [4]:
# Functions that returns the title from a name. All the name in the dataset has the format "Surname, Title. Name"
def get_title(name):
    if '.' in name:
        return name.split(',')[1].split('.')[0].strip()
    else:
        return 'Unknown'
    
train_titles = []
test_titles = []

for name in df_train['Name']:
    title = get_title(name)
    train_titles.append(title)
    
for name in df_test['Name']:
    title = get_title(name)
    test_titles.append(title)


df_train['Title'] = train_titles
df_test['Title'] = test_titles
     
df_train.loc[(df_train['Title'] != 'Mr') & (df_train['Title'] != 'Mrs') & (df_train['Title'] != 'Miss') & (df_train['Title'] != 'Master'), 'Title'] = 'Misc'
df_test.loc[(df_test['Title'] != 'Mr') & (df_test['Title'] != 'Mrs') & (df_test['Title'] != 'Miss') & (df_test['Title'] != 'Master'), 'Title'] = 'Misc'

# See value counts of each title
pd.value_counts(df_train['Title'])

Mr        517
Miss      182
Mrs       125
Master     40
Misc       27
Name: Title, dtype: int64

In [5]:
#thing = (pd.concat((df_train, df_test), ignore_index=True)).groupby(['Title']).mean()
#print(thing)

In [6]:
grouped = (pd.concat((df_train, df_test), ignore_index=True)).groupby(['Title'])  

# opted for median value to iron out any weirdness title selection might've given
grouped.Age.median()

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

Title
Master     4.0
Misc      44.5
Miss      22.0
Mr        29.0
Mrs       35.5
Name: Age, dtype: float64

In [7]:
# Apply these median values to all NaNs in dataset
for df in datasets:
    df.Age = grouped.Age.apply(lambda x: x.fillna(x.median()))

# Check that baby out
df_train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Mrs
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Mr
5,6,0,3,"Moran, Mr. James",male,29.0,0,0,330877,8.4583,NaN,Q,Mr
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,Mr
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,Master
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,Mrs
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,Mrs
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,Miss
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,Miss
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S,Mr
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S,Mr
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S,Miss
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S,Mrs
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q,Master
17,18,1,2,"Williams, Mr. Charles Eugene",male,29.0,0,0,244373,13.0000,NaN,S,Mr
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S,Mrs
19,20,1,3,"Masselmani, Mrs. Fatima",female,35.5,0,0,2649,7.2250,NaN,C,Mrs
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S,Mr
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S,Mr
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q,Miss
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S,Mr
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S,Miss
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S,Mrs
26,27,0,3,"Emir, Mr. Farred Chehab",male,29.0,0,0,2631,7.2250,NaN,C,Mr
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,Mr
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,22.0,0,0,330959,7.8792,NaN,Q,Miss
29,30,0,3,"Todoroff, Mr. Lalio",male,29.0,0,0,349216,7.8958,NaN,S,Mr
...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S,Mr
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S,Mrs
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,22.0,8,2,CA. 2343,69.5500,NaN,S,Miss
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S,Mr
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S,Mrs
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C,Miss
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S,Mr
868,869,0,3,"van Melkebeke, Mr. Philemon",male,29.0,0,0,345777,9.5000,NaN,S,Mr
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S,Master
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S,Mr
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,Mrs
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S,Mr
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S,Mr
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C,Mrs
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C,Miss
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S,Mr
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S,Mr
878,879,0,3,"Laleff, Mr. Kristo",male,29.0,0,0,349217,7.8958,NaN,S,Mr
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,Mrs
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S,Mrs
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S,Mr
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S,Miss
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S,Mr
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S,Mr
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q,Mrs
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Misc
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Miss
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,22.0,1,2,W./C. 6607,23.4500,NaN,S,Miss
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Mr
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Mr

In [8]:
# find fare bins based on frequency rather than value
garbage, fare_bins = pd.qcut(df_train['Fare'].append(df_test['Fare']), 4, retbins=True)
print(fare_bins)
# loops through both train and test set for convenience
for df in datasets:
    # bin age
    df['Age_binned'] = pd.cut(df['Age'], [0,16,32,48,64,200], labels = [0,1,2,3,4], retbins=False)
    
    # bin fare
    df['Fare_binned'] = pd.cut(df['Fare'], fare_bins, labels = [0,1,2,3], include_lowest=True, retbins=False)
    
    # family features
    df['Family_size'] = df_train['SibSp'] + df_train['Parch']
    df['Is_Alone'] = (df['Family_size'] == 0).astype(int)

[  0.       7.8958  14.4542  31.275  512.3292]

In [9]:
# drop unneeded rows
for df in datasets:
    df.drop(['Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Name'], axis=1, inplace=True)
    
# need to keep passengerID for submission

## Step 4: Format data for modelling

In [10]:
# one-hot encode categoricals using pd.get_dummies
df_train = pd.get_dummies(df_train, columns=['Embarked', 'Sex', 'Title'])
df_test = pd.get_dummies(df_test, columns=['Embarked', 'Sex', 'Title'])
df_train.head()

,PassengerId,Survived,Pclass,Age_binned,Fare_binned,Family_size,Is_Alone,Embarked_C,Embarked_Q,Embarked_S,Sex_female,Sex_male,Title_Master,Title_Misc,Title_Miss,Title_Mr,Title_Mrs
0,1,0,3,1,0,1,0,0,0,1,0,1,0,0,0,1,0
1,2,1,1,2,3,1,0,1,0,0,1,0,0,0,0,0,1
2,3,1,3,1,1,0,1,0,0,1,1,0,0,0,1,0,0
3,4,1,1,2,3,1,0,0,0,1,1,0,0,0,0,0,1
4,5,0,3,2,1,0,1,0,0,1,0,1,0,0,0,1,0

In [11]:
# Split data into X and y, and select features to use
X = df_train.drop(['Survived', 'PassengerId'], axis=1)
y = df_train['Survived']
X_test = df_test.drop(['PassengerId'], axis=1)

In [12]:
# Split data X and y into train and val sets
X_train, X_val, y_train, y_val = train_test_split(
      X, y, test_size=0.2, random_state=42)

In [13]:
df_train.isnull().sum()

PassengerId     0
Survived        0
Pclass          0
Age_binned      0
Fare_binned     0
Family_size     0
Is_Alone        0
Embarked_C      0
Embarked_Q      0
Embarked_S      0
Sex_female      0
Sex_male        0
Title_Master    0
Title_Misc      0
Title_Miss      0
Title_Mr        0
Title_Mrs       0
dtype: int64

In [14]:
df_test.isnull().sum()

PassengerId     0
Pclass          0
Age_binned      0
Fare_binned     0
Family_size     0
Is_Alone        0
Embarked_C      0
Embarked_Q      0
Embarked_S      0
Sex_female      0
Sex_male        0
Title_Master    0
Title_Misc      0
Title_Miss      0
Title_Mr        0
Title_Mrs       0
dtype: int64

In [15]:
X_train

,Pclass,Age_binned,Fare_binned,Family_size,Is_Alone,Embarked_C,Embarked_Q,Embarked_S,Sex_female,Sex_male,Title_Master,Title_Misc,Title_Miss,Title_Mr,Title_Mrs
331,1,2,2,0,1,0,0,1,0,1,0,0,0,1,0
733,2,1,1,0,1,0,0,1,0,1,0,0,0,1,0
382,3,1,1,0,1,0,0,1,0,1,0,0,0,1,0
704,3,1,0,1,0,0,0,1,0,1,0,0,0,1,0
813,3,0,2,6,0,0,0,1,1,0,0,0,1,0,0
118,1,1,3,1,0,1,0,0,0,1,0,0,0,1,0
536,1,2,2,0,1,0,0,1,0,1,0,1,0,0,0
361,2,1,2,1,0,1,0,0,0,1,0,0,0,1,0
29,3,1,0,0,1,0,0,1,0,1,0,0,0,1,0
55,1,1,3,0,1,0,0,1,0,1,0,0,0,1,0
865,2,2,1,0,1,0,0,1,1,0,0,0,0,0,1
595,3,2,2,2,0,0,0,1,0,1,0,0,0,1,0
239,2,2,1,0,1,0,0,1,0,1,0,0,0,1,0
721,3,1,0,1,0,0,0,1,0,1,0,0,0,1,0
81,3,1,1,0,1,0,0,1,0,1,0,0,0,1,0
259,2,3,2,1,0,0,0,1,1,0,0,0,0,0,1
486,1,2,3,1,0,0,0,1,1,0,0,0,0,0,1
716,1,2,3,0,1,1,0,0,1,0,0,0,1,0,0
800,2,2,1,0,1,0,0,1,0,1,0,0,0,1,0
781,1,1,3,1,0,0,0,1,1,0,0,0,0,0,1
542,3,0,2,6,0,0,0,1,1,0,0,0,1,0,0
326,3,3,0,0,1,0,0,1,0,1,0,0,0,1,0
534,3,1,1,0,1,0,0,1,1,0,0,0,1,0,0
535,2,0,2,2,0,0,0,1,1,0,0,0,1,0,0
483,3,3,1,0,1,0,0,1,1,0,0,0,0,0,1
762,3,1,0,0,1,1,0,0,0,1,0,0,0,1,0
533,3,2,2,2,0,1,0,0,1,0,0,0,0,0,1
713,3,1,1,0,1,0,0,1,0,1,0,0,0,1,0
390,1,2,3,3,0,0,0,1,0,1,0,0,0,1,0
495,3,1,2,0,1,1,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
276,3,2,0,0,1,0,0,1,1,0,0,0,1,0,0
191,2,1,1,0,1,0,0,1,0,1,0,0,0,1,0
385,2,1,3,0,1,0,0,1,0,1,0,0,0,1,0
805,3,1,0,0,1,0,0,1,0,1,0,0,0,1,0
413,2,1,0,0,1,0,0,1,0,1,0,0,0,1,0
491,3,1,0,0,1,0,0,1,0,1,0,0,0,1,0
343,2,1,1,0,1,0,0,1,0,1,0,0,0,1,0
769,3,1,1,0,1,0,0,1,0,1,0,0,0,1,0
308,2,1,2,1,0,1,0,0,0,1,0,0,0,1,0
661,3,2,0,0,1,1,0,0,0,1,0,0,0,1,0
130,3,2,0,0,1,1,0,0,0,1,0,0,0,1,0
663,3,2,0,0,1,0,0,1,0,1,0,0,0,1,0
871,1,2,3,2,0,0,0,1,1,0,0,0,0,0,1
99,2,2,2,1,0,0,0,1,0,1,0,0,0,1,0
372,3,1,1,0,1,0,0,1,0,1,0,0,0,1,0
87,3,1,1,0,1,0,0,1,0,1,0,0,0,1,0
458,2,3,1,0,1,0,0,1,1,0,0,0,1,0,0
330,3,1,2,2,0,0,1,0,1,0,0,0,1,0,0
214,3,1,0,1,0,0,1,0,0,1,0,0,0,1,0
466,2,1,0,0,1,0,0,1,0,1,0,0,0,1,0
121,3,1,1,0,1,0,0,1,0,1,0,0,0,1,0
614,3,2,1,0,1,0,0,1,0,1,0,0,0,1,0
20,2,2,2,0,1,0,0,1,0,1,0,0,0,1,0
700,1,1,3,1,0,1,0,0,1,0,0,0,0,0,1
71,3,0,3,7,0,0,0,1,1,0,0,0,1,0,0
106,3,1,0,0,1,0,0,1,1,0,0,0,1,0,0
270,1,1,2,0,1,0,0,1,0,1,0,0,0,1,0
860,3,2,1,2,0,0,0,1,0,1,0,0,0,1,0
435,1,0,3,3,0,0,0,1,1,0,0,0,1,0,0
102,1,1,3,1,0,0,0,1,0,1,0,0,0,1,0

## Step 5: Train (or fit) the model

In [16]:
# Fit logistic regression
lr = LogisticRegression()
lr.fit(X_train, y_train)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [17]:
# fit rf
rf = RandomForestClassifier(random_state=12)
rf.fit(X_train, y_train)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/ensemble/forest.py:248: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=12, verbose=0, warm_start=False)

## Step 6: Evaluate the model

In [18]:
# define a scoring function
def acc(y: np.array, y_pred: np.array) -> float:
    return np.sum(y_pred==y)/len(y)

In [19]:
# Use model to predict on train and val sets
y_pred_trn_lr = lr.predict(X_train)
y_pred_val_lr = lr.predict(X_val)

y_pred_trn_rf = rf.predict(X_train)
y_pred_val_rf = rf.predict(X_val)

In [20]:
print('LR train set accuracy', acc(y_train, y_pred_trn_lr))
print('LR val set accuracy', acc(y_val, y_pred_val_lr))
print('RF train set accuracy', acc(y_train, y_pred_trn_rf))
print('RF val set accuracy', acc(y_val, y_pred_val_rf))

LR train set accuracy 0.8328651685393258
LR val set accuracy 0.8044692737430168
RF train set accuracy 0.8876404494382022
RF val set accuracy 0.8379888268156425

## Step 7: Generate Submission

In [21]:
# Predict for test set

y_pred_test = rf.predict(X_test)

# Create a Kaggle submission 
sub = pd.DataFrame({'PassengerId': df_test['PassengerId'],
                    'Survived': y_pred_test})

sub.to_csv('week_3_baseline-finished.csv', index=False)