In [103]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from subprocess import check_output

Pipeline at a glance:
load data -> cleaning/preprocessing -> feature eng -> format data for modelling -> fit model -> evaluate model -> generate submission file

Step 1: Load data

In [104]:
df_train = pd.read_csv('../input/train.csv')
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [105]:
df_train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [106]:
df_test = pd.read_csv('../input/test.csv')
df_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [107]:
df_test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

## Step 2: Basic cleaning and preprocessing

In [108]:
# label encode sex
le = LabelEncoder()
le.fit(df_train.Sex)
df_train.loc[:,'Sex'] = le.transform(df_train.Sex)
df_test.loc[:,'Sex'] = le.transform(df_test.Sex)

In [109]:
# Fill in the missing values
mAge = pd.concat((df_train.Age, df_test.Age), axis=0).mean()
df_train.loc[:, 'Age'] = df_train.Age.fillna(mAge)
df_test.loc[:, 'Age'] = df_test.Age.fillna(mAge)

# Step 3: Feature engineering

In [110]:
df_train['Age_binned'] = pd.cut(df_test['Age'], [0,16,32,48,64,200], labels = [0,1,2,3,4], retbins=False)
df_test['Age_binned'] = pd.cut(df_test['Age'], [0,16,32,48,64,200], labels = [0,1,2,3,4], retbins=False)

In [111]:
df_test['Embarked'].fillna('S',inplace=True)
df_train['Embarked'].fillna('S',inplace=True)

In [112]:
df_train['Family_size'] = df_train['SibSp'] + df_train['Parch']
df_test['Family_size'] = df_test['SibSp'] + df_test['Parch']

In [113]:
df_train['Is_Alone'] = (df_train['Family_size'] == 0).astype(int)
df_train['Is_Alone'].drop

df_test['Is_Alone'] = (df_test['Family_size'] == 0).astype(int)
df_test['Is_Alone'].drop

<bound method Series.drop of 0      1
1      0
2      1
3      1
4      0
5      1
6      1
7      0
8      1
9      0
10     1
11     1
12     0
13     0
14     0
15     0
16     1
17     1
18     0
19     1
20     0
21     0
22     1
23     0
24     0
25     0
26     0
27     1
28     1
29     0
      ..
388    1
389    0
390    1
391    0
392    0
393    1
394    0
395    0
396    1
397    0
398    1
399    1
400    1
401    0
402    0
403    1
404    0
405    1
406    0
407    0
408    1
409    0
410    1
411    0
412    1
413    1
414    1
415    1
416    1
417    0
Name: Is_Alone, Length: 418, dtype: int64>

In [114]:
le.fit(df_train.Embarked)
df_train.loc[:,'Embarked'] = le.transform(df_train.Embarked)
df_test.loc[:,'Embarked'] = le.transform(df_test.Embarked)

In [120]:
df_train = df_train.drop(columns = ['PassengerId','Name','Age','SibSp','Parch','Ticket','Fare','Cabin'], axis=1, inplace = False)
df_test = df_test.drop(columns = ['PassengerId','Name','Age','SibSp','Parch','Ticket','Fare','Cabin'], axis=1, inplace = False)

KeyError: "['PassengerId' 'Name' 'Age' 'SibSp' 'Parch' 'Ticket' 'Fare' 'Cabin'] not found in axis"

In [121]:
df_train

     Survived  Pclass  Sex  Embarked Age_binned  Family_size  Is_Alone
0           0       3    1         2        2.0            1         0
1           1       1    0         0        2.0            1         0
2           1       3    0         2        3.0            0         1
3           1       1    0         2        1.0            1         0
4           0       3    1         2        1.0            0         1
5           0       3    1         1        0.0            0         1
6           0       1    1         2        1.0            0         1
7           0       3    1         2        1.0            4         0
8           1       3    0         2        1.0            2         0
9           1       2    0         0        1.0            1         0
10          1       3    0         2        1.0            2         0
11          1       1    0         2        2.0            0         1
12          0       3    1         2        1.0            0         1
13          0       3    1         2        3.0            6         0
14          0       3    0         2        2.0            0         1
15          1       2    0         2        1.0            0         1
16          0       3    1         1        2.0            5         0
17          1       2    1         2        1.0            0         1
18          0       3    0         2        1.0            1         0
19          1       3    0         0        2.0            0         1
20          0       2    1         2        3.0            0         1
21          1       2    1         2        0.0            0         1
22          1       3    0         1        1.0            0         1
23          1       1    1         2        1.0            0         1
24          0       3    0         2        2.0            4         0
25          1       3    0         2        3.0            6         0
26          0       3    1         0        1.0            0         1
27          0       1    1         2        1.0            5         0
28          1       3    0         1        2.0            0         1
29          0       3    1         2        1.0            0         1
..        ...     ...  ...       ...        ...          ...       ...
861         0       2    1         2        NaN            1         0
862         1       1    0         2        NaN            0         1
863         0       3    0         2        NaN           10         0
864         0       2    1         2        NaN            0         1
865         1       2    0         2        NaN            0         1
866         1       2    0         0        NaN            1         0
867         0       1    1         2        NaN            0         1
868         0       3    1         2        NaN            0         1
869         1       3    1         2        NaN            2         0
870         0       3    1         2        NaN            0         1
871         1       1    0         2        NaN            2         0
872         0       1    1         2        NaN            0         1
873         0       3    1         2        NaN            0         1
874         1       2    0         0        NaN            1         0
875         1       3    0         0        NaN            0         1
876         0       3    1         2        NaN            0         1
877         0       3    1         2        NaN            0         1
878         0       3    1         2        NaN            0         1
879         1       1    0         0        NaN            1         0
880         1       2    0         2        NaN            1         0
881         0       3    1         2        NaN            0         1
882         0       3    0         2        NaN            0         1
883         0       2    1         2        NaN            0         1
884         0       3    1         2        NaN            0         1
885         0       3    0         1        NaN            5         0
886         0       2    1         2        NaN            0         1
887         1       1    0         2        NaN            0         1
888         0       3    0         2        NaN            3         0
889         1       1    1         0        NaN            0         1
890         0       3    1         1        NaN            0         1

[891 rows x 7 columns]

In [117]:
from sklearn.preprocessing import OneHotEncoder

In [119]:

myEncoder = OneHotEncoder(sparse=False, handle_unknown='ignore')
myEncoder.fit(df_train['Pclass','Sex','Embarked','Age_binned','Is_Alone'])

KeyError: ('Pclass', 'Sex', 'Embarked', 'Age_binned', 'Is_Alone')

In [19]:
pd.concat([df_train.drop('Survived', 'Pclass','Sex','Embarked','Age_binned','Is_Alone', 1),
          pd.DataFrame(myEncoder.transform(df_train[columnsToEncode]))], axis=1).reindex()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_binned,Family_size,Is_Alone
0,1,0,3,"Braund, Mr. Owen Harris",1,22.000000,1,0,A/5 21171,7.2500,NaN,S,2.0,1,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.000000,1,0,PC 17599,71.2833,C85,C,2.0,1,0
2,3,1,3,"Heikkinen, Miss. Laina",0,26.000000,0,0,STON/O2. 3101282,7.9250,NaN,S,3.0,0,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.000000,1,0,113803,53.1000,C123,S,1.0,1,0
4,5,0,3,"Allen, Mr. William Henry",1,35.000000,0,0,373450,8.0500,NaN,S,1.0,0,1
5,6,0,3,"Moran, Mr. James",1,29.881138,0,0,330877,8.4583,NaN,Q,0.0,0,1
6,7,0,1,"McCarthy, Mr. Timothy J",1,54.000000,0,0,17463,51.8625,E46,S,1.0,0,1
7,8,0,3,"Palsson, Master. Gosta Leonard",1,2.000000,3,1,349909,21.0750,NaN,S,1.0,4,0
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",0,27.000000,0,2,347742,11.1333,NaN,S,1.0,2,0
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",0,14.000000,1,0,237736,30.0708,NaN,C,1.0,1,0
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",0,4.000000,1,1,PP 9549,16.7000,G6,S,1.0,2,0
11,12,1,1,"Bonnell, Miss. Elizabeth",0,58.000000,0,0,113783,26.5500,C103,S,2.0,0,1
12,13,0,3,"Saundercock, Mr. William Henry",1,20.000000,0,0,A/5. 2151,8.0500,NaN,S,1.0,0,1
13,14,0,3,"Andersson, Mr. Anders Johan",1,39.000000,1,5,347082,31.2750,NaN,S,3.0,6,0
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",0,14.000000,0,0,350406,7.8542,NaN,S,2.0,0,1
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",0,55.000000,0,0,248706,16.0000,NaN,S,1.0,0,1
16,17,0,3,"Rice, Master. Eugene",1,2.000000,4,1,382652,29.1250,NaN,Q,2.0,5,0
17,18,1,2,"Williams, Mr. Charles Eugene",1,29.881138,0,0,244373,13.0000,NaN,S,1.0,0,1
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,31.000000,1,0,345763,18.0000,NaN,S,1.0,1,0
19,20,1,3,"Masselmani, Mrs. Fatima",0,29.881138,0,0,2649,7.2250,NaN,C,2.0,0,1
20,21,0,2,"Fynney, Mr. Joseph J",1,35.000000,0,0,239865,26.0000,NaN,S,3.0,0,1
21,22,1,2,"Beesley, Mr. Lawrence",1,34.000000,0,0,248698,13.0000,D56,S,0.0,0,1
22,23,1,3,"McGowan, Miss. Anna ""Annie""",0,15.000000,0,0,330923,8.0292,NaN,Q,1.0,0,1
23,24,1,1,"Sloper, Mr. William Thompson",1,28.000000,0,0,113788,35.5000,A6,S,1.0,0,1
24,25,0,3,"Palsson, Miss. Torborg Danira",0,8.000000,3,1,349909,21.0750,NaN,S,2.0,4,0
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",0,38.000000,1,5,347077,31.3875,NaN,S,3.0,6,0
26,27,0,3,"Emir, Mr. Farred Chehab",1,29.881138,0,0,2631,7.2250,NaN,C,1.0,0,1
27,28,0,1,"Fortune, Mr. Charles Alexander",1,19.000000,3,2,19950,263.0000,C23 C25 C27,S,1.0,5,0
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",0,29.881138,0,0,330959,7.8792,NaN,Q,2.0,0,1
29,30,0,3,"Todoroff, Mr. Lalio",1,29.881138,0,0,349216,7.8958,NaN,S,1.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",1,21.000000,1,0,28134,11.5000,NaN,S,NaN,1,0
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",0,48.000000,0,0,17466,25.9292,D17,S,NaN,0,1
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",0,29.881138,8,2,CA. 2343,69.5500,NaN,S,NaN,10,0
864,865,0,2,"Gill, Mr. John William",1,24.000000,0,0,233866,13.0000,NaN,S,NaN,0,1
865,866,1,2,"Bystrom, Mrs. (Karolina)",0,42.000000,0,0,236852,13.0000,NaN,S,NaN,0,1
866,867,1,2,"Duran y More, Miss. Asuncion",0,27.000000,1,0,SC/PARIS 2149,13.8583,NaN,C,NaN,1,0
867,868,0,1,"Roebling, Mr. Washington Augustus II",1,31.000000,0,0,PC 17590,50.4958,A24,S,NaN,0,1
868,869,0,3,"van Melkebeke, Mr. Philemon",1,29.881138,0,0,345777,9.5000,NaN,S,NaN,0,1
869,870,1,3,"Johnson, Master. Harold Theodor",1,4.000000,1,1,347742,11.1333,NaN,S,NaN,2,0
870,871,0,3,"Balkic, Mr. Cerin",1,26.000000,0,0,349248,7.8958,NaN,S,NaN,0,1
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",0,47.000000,1,1,11751,52.5542,D35,S,NaN,2,0
872,873,0,1,"Carlsson, Mr. Frans Olof",1,33.000000,0,0,695,5.0000,B51 B53 B55,S,NaN,0,1
873,874,0,3,"Vander Cruyssen, Mr. Victor",1,47.000000,0,0,345765,9.0000,NaN,S,NaN,0,1
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",0,28.000000,1,0,P/PP 3381,24.0000,NaN,C,NaN,1,0
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",0,15.000000,0,0,2667,7.2250,NaN,C,NaN,0,1
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",1,20.000000,0,0,7534,9.8458,NaN,S,NaN,0,1
877,878,0,3,"Petroff, Mr. Nedelio",1,19.000000,0,0,349212,7.8958,NaN,S,NaN,0,1
878,879,0,3,"Laleff, Mr. Kristo",1,29.881138,0,0,349217,7.8958,NaN,S,NaN,0,1
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",0,56.000000,0,1,11767,83.1583,C50,C,NaN,1,0
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",0,25.000000,0,1,230433,26.0000,NaN,S,NaN,1,0
881,882,0,3,"Markun, Mr. Johann",1,33.000000,0,0,349257,7.8958,NaN,S,NaN,0,1
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",0,22.000000,0,0,7552,10.5167,NaN,S,NaN,0,1
883,884,0,2,"Banfield, Mr. Frederick James",1,28.000000,0,0,C.A./SOTON 34068,10.5000,NaN,S,NaN,0,1
884,885,0,3,"Sutehall, Mr. Henry Jr",1,25.000000,0,0,SOTON/OQ 392076,7.0500,NaN,S,NaN,0,1
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",0,39.000000,0,5,382652,29.1250,NaN,Q,NaN,5,0
886,887,0,2,"Montvila, Rev. Juozas",1,27.000000,0,0,211536,13.0000,NaN,S,NaN,0,1
887,888,1,1,"Graham, Miss. Margaret Edith",0,19.000000,0,0,112053,30.0000,B42,S,NaN,0,1
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",0,29.881138,1,2,W./C. 6607,23.4500,NaN,S,NaN,3,0
889,890,1,1,"Behr, Mr. Karl Howell",1,26.000000,0,0,111369,30.0000,C148,C,NaN,0,1
890,891,0,3,"Dooley, Mr. Patrick",1,32.000000,0,0,370376,7.7500,NaN,Q,NaN,0,1

<bound method Series.drop of 0      0
1      0
2      1
3      0
4      1
5      1
6      1
7      0
8      0
9      0
10     0
11     1
12     1
13     0
14     1
15     1
16     0
17     1
18     0
19     1
20     1
21     1
22     1
23     1
24     0
25     0
26     1
27     0
28     1
29     1
      ..
861    0
862    1
863    0
864    1
865    1
866    0
867    1
868    1
869    0
870    1
871    0
872    1
873    1
874    0
875    1
876    1
877    1
878    1
879    0
880    0
881    1
882    1
883    1
884    1
885    0
886    1
887    1
888    0
889    1
890    1
Name: Is_Alone, Length: 891, dtype: int64>

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_binned,Family_size,Is_Alone
0,1,0,3,"Braund, Mr. Owen Harris",1,22.000000,1,0,A/5 21171,7.2500,NaN,S,2.0,1,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.000000,1,0,PC 17599,71.2833,C85,C,2.0,1,0
2,3,1,3,"Heikkinen, Miss. Laina",0,26.000000,0,0,STON/O2. 3101282,7.9250,NaN,S,3.0,0,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.000000,1,0,113803,53.1000,C123,S,1.0,1,0
4,5,0,3,"Allen, Mr. William Henry",1,35.000000,0,0,373450,8.0500,NaN,S,1.0,0,1
5,6,0,3,"Moran, Mr. James",1,29.881138,0,0,330877,8.4583,NaN,Q,0.0,0,1
6,7,0,1,"McCarthy, Mr. Timothy J",1,54.000000,0,0,17463,51.8625,E46,S,1.0,0,1
7,8,0,3,"Palsson, Master. Gosta Leonard",1,2.000000,3,1,349909,21.0750,NaN,S,1.0,4,0
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",0,27.000000,0,2,347742,11.1333,NaN,S,1.0,2,0
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",0,14.000000,1,0,237736,30.0708,NaN,C,1.0,1,0
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",0,4.000000,1,1,PP 9549,16.7000,G6,S,1.0,2,0
11,12,1,1,"Bonnell, Miss. Elizabeth",0,58.000000,0,0,113783,26.5500,C103,S,2.0,0,1
12,13,0,3,"Saundercock, Mr. William Henry",1,20.000000,0,0,A/5. 2151,8.0500,NaN,S,1.0,0,1
13,14,0,3,"Andersson, Mr. Anders Johan",1,39.000000,1,5,347082,31.2750,NaN,S,3.0,6,0
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",0,14.000000,0,0,350406,7.8542,NaN,S,2.0,0,1
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",0,55.000000,0,0,248706,16.0000,NaN,S,1.0,0,1
16,17,0,3,"Rice, Master. Eugene",1,2.000000,4,1,382652,29.1250,NaN,Q,2.0,5,0
17,18,1,2,"Williams, Mr. Charles Eugene",1,29.881138,0,0,244373,13.0000,NaN,S,1.0,0,1
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,31.000000,1,0,345763,18.0000,NaN,S,1.0,1,0
19,20,1,3,"Masselmani, Mrs. Fatima",0,29.881138,0,0,2649,7.2250,NaN,C,2.0,0,1
20,21,0,2,"Fynney, Mr. Joseph J",1,35.000000,0,0,239865,26.0000,NaN,S,3.0,0,1
21,22,1,2,"Beesley, Mr. Lawrence",1,34.000000,0,0,248698,13.0000,D56,S,0.0,0,1
22,23,1,3,"McGowan, Miss. Anna ""Annie""",0,15.000000,0,0,330923,8.0292,NaN,Q,1.0,0,1
23,24,1,1,"Sloper, Mr. William Thompson",1,28.000000,0,0,113788,35.5000,A6,S,1.0,0,1
24,25,0,3,"Palsson, Miss. Torborg Danira",0,8.000000,3,1,349909,21.0750,NaN,S,2.0,4,0
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",0,38.000000,1,5,347077,31.3875,NaN,S,3.0,6,0
26,27,0,3,"Emir, Mr. Farred Chehab",1,29.881138,0,0,2631,7.2250,NaN,C,1.0,0,1
27,28,0,1,"Fortune, Mr. Charles Alexander",1,19.000000,3,2,19950,263.0000,C23 C25 C27,S,1.0,5,0
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",0,29.881138,0,0,330959,7.8792,NaN,Q,2.0,0,1
29,30,0,3,"Todoroff, Mr. Lalio",1,29.881138,0,0,349216,7.8958,NaN,S,1.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",1,21.000000,1,0,28134,11.5000,NaN,S,NaN,1,0
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",0,48.000000,0,0,17466,25.9292,D17,S,NaN,0,1
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",0,29.881138,8,2,CA. 2343,69.5500,NaN,S,NaN,10,0
864,865,0,2,"Gill, Mr. John William",1,24.000000,0,0,233866,13.0000,NaN,S,NaN,0,1
865,866,1,2,"Bystrom, Mrs. (Karolina)",0,42.000000,0,0,236852,13.0000,NaN,S,NaN,0,1
866,867,1,2,"Duran y More, Miss. Asuncion",0,27.000000,1,0,SC/PARIS 2149,13.8583,NaN,C,NaN,1,0
867,868,0,1,"Roebling, Mr. Washington Augustus II",1,31.000000,0,0,PC 17590,50.4958,A24,S,NaN,0,1
868,869,0,3,"van Melkebeke, Mr. Philemon",1,29.881138,0,0,345777,9.5000,NaN,S,NaN,0,1
869,870,1,3,"Johnson, Master. Harold Theodor",1,4.000000,1,1,347742,11.1333,NaN,S,NaN,2,0
870,871,0,3,"Balkic, Mr. Cerin",1,26.000000,0,0,349248,7.8958,NaN,S,NaN,0,1
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",0,47.000000,1,1,11751,52.5542,D35,S,NaN,2,0
872,873,0,1,"Carlsson, Mr. Frans Olof",1,33.000000,0,0,695,5.0000,B51 B53 B55,S,NaN,0,1
873,874,0,3,"Vander Cruyssen, Mr. Victor",1,47.000000,0,0,345765,9.0000,NaN,S,NaN,0,1
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",0,28.000000,1,0,P/PP 3381,24.0000,NaN,C,NaN,1,0
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",0,15.000000,0,0,2667,7.2250,NaN,C,NaN,0,1
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",1,20.000000,0,0,7534,9.8458,NaN,S,NaN,0,1
877,878,0,3,"Petroff, Mr. Nedelio",1,19.000000,0,0,349212,7.8958,NaN,S,NaN,0,1
878,879,0,3,"Laleff, Mr. Kristo",1,29.881138,0,0,349217,7.8958,NaN,S,NaN,0,1
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",0,56.000000,0,1,11767,83.1583,C50,C,NaN,1,0
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",0,25.000000,0,1,230433,26.0000,NaN,S,NaN,1,0
881,882,0,3,"Markun, Mr. Johann",1,33.000000,0,0,349257,7.8958,NaN,S,NaN,0,1
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",0,22.000000,0,0,7552,10.5167,NaN,S,NaN,0,1
883,884,0,2,"Banfield, Mr. Frederick James",1,28.000000,0,0,C.A./SOTON 34068,10.5000,NaN,S,NaN,0,1
884,885,0,3,"Sutehall, Mr. Henry Jr",1,25.000000,0,0,SOTON/OQ 392076,7.0500,NaN,S,NaN,0,1
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",0,39.000000,0,5,382652,29.1250,NaN,Q,NaN,5,0
886,887,0,2,"Montvila, Rev. Juozas",1,27.000000,0,0,211536,13.0000,NaN,S,NaN,0,1
887,888,1,1,"Graham, Miss. Margaret Edith",0,19.000000,0,0,112053,30.0000,B42,S,NaN,0,1
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",0,29.881138,1,2,W./C. 6607,23.4500,NaN,S,NaN,3,0
889,890,1,1,"Behr, Mr. Karl Howell",1,26.000000,0,0,111369,30.0000,C148,C,NaN,0,1
890,891,0,3,"Dooley, Mr. Patrick",1,32.000000,0,0,370376,7.7500,NaN,Q,NaN,0,1

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_binned,Family_size,Is_Alone
0,1,0,3,"Braund, Mr. Owen Harris",1,22.000000,1,0,A/5 21171,7.2500,NaN,2,2.0,1,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.000000,1,0,PC 17599,71.2833,C85,0,2.0,1,0
2,3,1,3,"Heikkinen, Miss. Laina",0,26.000000,0,0,STON/O2. 3101282,7.9250,NaN,2,3.0,0,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.000000,1,0,113803,53.1000,C123,2,1.0,1,0
4,5,0,3,"Allen, Mr. William Henry",1,35.000000,0,0,373450,8.0500,NaN,2,1.0,0,1
5,6,0,3,"Moran, Mr. James",1,29.881138,0,0,330877,8.4583,NaN,1,0.0,0,1
6,7,0,1,"McCarthy, Mr. Timothy J",1,54.000000,0,0,17463,51.8625,E46,2,1.0,0,1
7,8,0,3,"Palsson, Master. Gosta Leonard",1,2.000000,3,1,349909,21.0750,NaN,2,1.0,4,0
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",0,27.000000,0,2,347742,11.1333,NaN,2,1.0,2,0
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",0,14.000000,1,0,237736,30.0708,NaN,0,1.0,1,0
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",0,4.000000,1,1,PP 9549,16.7000,G6,2,1.0,2,0
11,12,1,1,"Bonnell, Miss. Elizabeth",0,58.000000,0,0,113783,26.5500,C103,2,2.0,0,1
12,13,0,3,"Saundercock, Mr. William Henry",1,20.000000,0,0,A/5. 2151,8.0500,NaN,2,1.0,0,1
13,14,0,3,"Andersson, Mr. Anders Johan",1,39.000000,1,5,347082,31.2750,NaN,2,3.0,6,0
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",0,14.000000,0,0,350406,7.8542,NaN,2,2.0,0,1
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",0,55.000000,0,0,248706,16.0000,NaN,2,1.0,0,1
16,17,0,3,"Rice, Master. Eugene",1,2.000000,4,1,382652,29.1250,NaN,1,2.0,5,0
17,18,1,2,"Williams, Mr. Charles Eugene",1,29.881138,0,0,244373,13.0000,NaN,2,1.0,0,1
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,31.000000,1,0,345763,18.0000,NaN,2,1.0,1,0
19,20,1,3,"Masselmani, Mrs. Fatima",0,29.881138,0,0,2649,7.2250,NaN,0,2.0,0,1
20,21,0,2,"Fynney, Mr. Joseph J",1,35.000000,0,0,239865,26.0000,NaN,2,3.0,0,1
21,22,1,2,"Beesley, Mr. Lawrence",1,34.000000,0,0,248698,13.0000,D56,2,0.0,0,1
22,23,1,3,"McGowan, Miss. Anna ""Annie""",0,15.000000,0,0,330923,8.0292,NaN,1,1.0,0,1
23,24,1,1,"Sloper, Mr. William Thompson",1,28.000000,0,0,113788,35.5000,A6,2,1.0,0,1
24,25,0,3,"Palsson, Miss. Torborg Danira",0,8.000000,3,1,349909,21.0750,NaN,2,2.0,4,0
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",0,38.000000,1,5,347077,31.3875,NaN,2,3.0,6,0
26,27,0,3,"Emir, Mr. Farred Chehab",1,29.881138,0,0,2631,7.2250,NaN,0,1.0,0,1
27,28,0,1,"Fortune, Mr. Charles Alexander",1,19.000000,3,2,19950,263.0000,C23 C25 C27,2,1.0,5,0
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",0,29.881138,0,0,330959,7.8792,NaN,1,2.0,0,1
29,30,0,3,"Todoroff, Mr. Lalio",1,29.881138,0,0,349216,7.8958,NaN,2,1.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",1,21.000000,1,0,28134,11.5000,NaN,2,NaN,1,0
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",0,48.000000,0,0,17466,25.9292,D17,2,NaN,0,1
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",0,29.881138,8,2,CA. 2343,69.5500,NaN,2,NaN,10,0
864,865,0,2,"Gill, Mr. John William",1,24.000000,0,0,233866,13.0000,NaN,2,NaN,0,1
865,866,1,2,"Bystrom, Mrs. (Karolina)",0,42.000000,0,0,236852,13.0000,NaN,2,NaN,0,1
866,867,1,2,"Duran y More, Miss. Asuncion",0,27.000000,1,0,SC/PARIS 2149,13.8583,NaN,0,NaN,1,0
867,868,0,1,"Roebling, Mr. Washington Augustus II",1,31.000000,0,0,PC 17590,50.4958,A24,2,NaN,0,1
868,869,0,3,"van Melkebeke, Mr. Philemon",1,29.881138,0,0,345777,9.5000,NaN,2,NaN,0,1
869,870,1,3,"Johnson, Master. Harold Theodor",1,4.000000,1,1,347742,11.1333,NaN,2,NaN,2,0
870,871,0,3,"Balkic, Mr. Cerin",1,26.000000,0,0,349248,7.8958,NaN,2,NaN,0,1
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",0,47.000000,1,1,11751,52.5542,D35,2,NaN,2,0
872,873,0,1,"Carlsson, Mr. Frans Olof",1,33.000000,0,0,695,5.0000,B51 B53 B55,2,NaN,0,1
873,874,0,3,"Vander Cruyssen, Mr. Victor",1,47.000000,0,0,345765,9.0000,NaN,2,NaN,0,1
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",0,28.000000,1,0,P/PP 3381,24.0000,NaN,0,NaN,1,0
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",0,15.000000,0,0,2667,7.2250,NaN,0,NaN,0,1
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",1,20.000000,0,0,7534,9.8458,NaN,2,NaN,0,1
877,878,0,3,"Petroff, Mr. Nedelio",1,19.000000,0,0,349212,7.8958,NaN,2,NaN,0,1
878,879,0,3,"Laleff, Mr. Kristo",1,29.881138,0,0,349217,7.8958,NaN,2,NaN,0,1
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",0,56.000000,0,1,11767,83.1583,C50,0,NaN,1,0
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",0,25.000000,0,1,230433,26.0000,NaN,2,NaN,1,0
881,882,0,3,"Markun, Mr. Johann",1,33.000000,0,0,349257,7.8958,NaN,2,NaN,0,1
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",0,22.000000,0,0,7552,10.5167,NaN,2,NaN,0,1
883,884,0,2,"Banfield, Mr. Frederick James",1,28.000000,0,0,C.A./SOTON 34068,10.5000,NaN,2,NaN,0,1
884,885,0,3,"Sutehall, Mr. Henry Jr",1,25.000000,0,0,SOTON/OQ 392076,7.0500,NaN,2,NaN,0,1
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",0,39.000000,0,5,382652,29.1250,NaN,1,NaN,5,0
886,887,0,2,"Montvila, Rev. Juozas",1,27.000000,0,0,211536,13.0000,NaN,2,NaN,0,1
887,888,1,1,"Graham, Miss. Margaret Edith",0,19.000000,0,0,112053,30.0000,B42,2,NaN,0,1
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",0,29.881138,1,2,W./C. 6607,23.4500,NaN,2,NaN,3,0
889,890,1,1,"Behr, Mr. Karl Howell",1,26.000000,0,0,111369,30.0000,C148,0,NaN,0,1
890,891,0,3,"Dooley, Mr. Patrick",1,32.000000,0,0,370376,7.7500,NaN,1,NaN,0,1

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_binned,Family_size
0,892,3,"Kelly, Mr. James",1,34.500000,0,0,330911,7.8292,NaN,1,2,0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",0,47.000000,1,0,363272,7.0000,NaN,2,2,1
2,894,2,"Myles, Mr. Thomas Francis",1,62.000000,0,0,240276,9.6875,NaN,1,3,0
3,895,3,"Wirz, Mr. Albert",1,27.000000,0,0,315154,8.6625,NaN,2,1,0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",0,22.000000,1,1,3101298,12.2875,NaN,2,1,2
5,897,3,"Svensson, Mr. Johan Cervin",1,14.000000,0,0,7538,9.2250,NaN,2,0,0
6,898,3,"Connolly, Miss. Kate",0,30.000000,0,0,330972,7.6292,NaN,1,1,0
7,899,2,"Caldwell, Mr. Albert Francis",1,26.000000,1,1,248738,29.0000,NaN,2,1,2
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",0,18.000000,0,0,2657,7.2292,NaN,0,1,0
9,901,3,"Davies, Mr. John Samuel",1,21.000000,2,0,A/4 48871,24.1500,NaN,2,1,2
10,902,3,"Ilieff, Mr. Ylio",1,29.881138,0,0,349220,7.8958,NaN,2,1,0
11,903,1,"Jones, Mr. Charles Cresson",1,46.000000,0,0,694,26.0000,NaN,2,2,0
12,904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",0,23.000000,1,0,21228,82.2667,B45,2,1,1
13,905,2,"Howard, Mr. Benjamin",1,63.000000,1,0,24065,26.0000,NaN,2,3,1
14,906,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",0,47.000000,1,0,W.E.P. 5734,61.1750,E31,2,2,1
15,907,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",0,24.000000,1,0,SC/PARIS 2167,27.7208,NaN,0,1,1
16,908,2,"Keane, Mr. Daniel",1,35.000000,0,0,233734,12.3500,NaN,1,2,0
17,909,3,"Assaf, Mr. Gerios",1,21.000000,0,0,2692,7.2250,NaN,0,1,0
18,910,3,"Ilmakangas, Miss. Ida Livija",0,27.000000,1,0,STON/O2. 3101270,7.9250,NaN,2,1,1
19,911,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",0,45.000000,0,0,2696,7.2250,NaN,0,2,0
20,912,1,"Rothschild, Mr. Martin",1,55.000000,1,0,PC 17603,59.4000,NaN,0,3,1
21,913,3,"Olsen, Master. Artur Karl",1,9.000000,0,1,C 17368,3.1708,NaN,2,0,1
22,914,1,"Flegenheim, Mrs. Alfred (Antoinette)",0,29.881138,0,0,PC 17598,31.6833,NaN,2,1,0
23,915,1,"Williams, Mr. Richard Norris II",1,21.000000,0,1,PC 17597,61.3792,NaN,0,1,1
24,916,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",0,48.000000,1,3,PC 17608,262.3750,B57 B59 B63 B66,0,2,4
25,917,3,"Robins, Mr. Alexander A",1,50.000000,1,0,A/5. 3337,14.5000,NaN,2,3,1
26,918,1,"Ostby, Miss. Helene Ragnhild",0,22.000000,0,1,113509,61.9792,B36,0,1,1
27,919,3,"Daher, Mr. Shedid",1,22.500000,0,0,2698,7.2250,NaN,0,1,0
28,920,1,"Brady, Mr. John Bertram",1,41.000000,0,0,113054,30.5000,A21,2,2,0
29,921,3,"Samaan, Mr. Elias",1,29.881138,2,0,2662,21.6792,NaN,0,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,1280,3,"Canavan, Mr. Patrick",1,21.000000,0,0,364858,7.7500,NaN,1,1,0
389,1281,3,"Palsson, Master. Paul Folke",1,6.000000,3,1,349909,21.0750,NaN,2,0,4
390,1282,1,"Payne, Mr. Vivian Ponsonby",1,23.000000,0,0,12749,93.5000,B24,2,1,0
391,1283,1,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",0,51.000000,0,1,PC 17592,39.4000,D28,2,3,1
392,1284,3,"Abbott, Master. Eugene Joseph",1,13.000000,0,2,C.A. 2673,20.2500,NaN,2,0,2
393,1285,2,"Gilbert, Mr. William",1,47.000000,0,0,C.A. 30769,10.5000,NaN,2,2,0
394,1286,3,"Kink-Heilmann, Mr. Anton",1,29.000000,3,1,315153,22.0250,NaN,2,1,4
395,1287,1,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",0,18.000000,1,0,13695,60.0000,C31,2,1,1
396,1288,3,"Colbert, Mr. Patrick",1,24.000000,0,0,371109,7.2500,NaN,1,1,0
397,1289,1,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",0,48.000000,1,1,13567,79.2000,B41,0,2,2
398,1290,3,"Larsson-Rondberg, Mr. Edvard A",1,22.000000,0,0,347065,7.7750,NaN,2,1,0
399,1291,3,"Conlon, Mr. Thomas Henry",1,31.000000,0,0,21332,7.7333,NaN,1,1,0
400,1292,1,"Bonnell, Miss. Caroline",0,30.000000,0,0,36928,164.8667,C7,2,1,0
401,1293,2,"Gale, Mr. Harry",1,38.000000,1,0,28664,21.0000,NaN,2,2,1
402,1294,1,"Gibson, Miss. Dorothy Winifred",0,22.000000,0,1,112378,59.4000,NaN,0,1,1
403,1295,1,"Carrau, Mr. Jose Pedro",1,17.000000,0,0,113059,47.1000,NaN,2,1,0
404,1296,1,"Frauenthal, Mr. Isaac Gerald",1,43.000000,1,0,17765,27.7208,D40,0,2,1
405,1297,2,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",1,20.000000,0,0,SC/PARIS 2166,13.8625,D38,0,1,0
406,1298,2,"Ware, Mr. William Jeffery",1,23.000000,1,0,28666,10.5000,NaN,2,1,1
407,1299,1,"Widener, Mr. George Dunton",1,50.000000,1,1,113503,211.5000,C80,0,3,2
408,1300,3,"Riordan, Miss. Johanna Hannah""""",0,29.881138,0,0,334915,7.7208,NaN,1,1,0
409,1301,3,"Peacock, Miss. Treasteall",0,3.000000,1,1,SOTON/O.Q. 3101315,13.7750,NaN,2,0,2
410,1302,3,"Naughton, Miss. Hannah",0,29.881138,0,0,365237,7.7500,NaN,1,1,0
411,1303,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",0,37.000000,1,0,19928,90.0000,C78,1,2,1
412,1304,3,"Henriksson, Miss. Jenny Lovisa",0,28.000000,0,0,347086,7.7750,NaN,2,1,0
413,1305,3,"Spector, Mr. Woolf",1,29.881138,0,0,A.5. 3236,8.0500,NaN,2,1,0
414,1306,1,"Oliva y Ocana, Dona. Fermina",0,39.000000,0,0,PC 17758,108.9000,C105,0,2,0
415,1307,3,"Saether, Mr. Simon Sivertsen",1,38.500000,0,0,SOTON/O.Q. 3101262,7.2500,NaN,2,2,0
416,1308,3,"Ware, Mr. Frederick",1,29.881138,0,0,359309,8.0500,NaN,2,1,0
417,1309,3,"Peter, Master. Michael J",1,29.881138,1,1,2668,22.3583,NaN,0,1,2

## Step 4: Format data for modelling

In [11]:
# Split data into X and y, and select features to use
X = df_train.loc[:,['Age', 'Sex', 'Pclass']]
y = df_train.loc[:,'Survived']

In [12]:
# Split data X and y into train and val sets
X_test = df_test.loc[:,['Age', 'Sex', 'Pclass']]
X_train, X_valid, y_train, y_valid = train_test_split(
      X, y, test_size=0.2, random_state=42)

## Step 5: Train (or fit) the model

In [13]:
# Fit logistic regression
LR = LogisticRegression()
LR.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

## Step 6: Evaluate the model

In [14]:
# define a scoring function
def acc(y: np.array, y_pred: np.array) -> float:
    return np.sum(y_pred==y)/len(y)

In [15]:
# Use model to predict validation set
y_pred_valid = LR.predict(X_valid)

In [16]:
print('Validation set accuracy', acc(y_valid, y_pred_valid), '%')

Validation set accuracy 0.7877094972067039 %

## Step 7: Generate Submission

In [17]:
# Predict for test set

y_pred_test = LR.predict(X_test)

# Create a Kaggle submission
sub = pd.DataFrame({'PassengerId': df_test['PassengerId'],
                    'Survived': y_pred_test})

sub.to_csv('basic_submission.csv', index=False)